In [4]:
from konlpy.tag import Komoran

In [5]:
komoran = Komoran()

C:\Users\User\Anaconda3\lib\site-packages\jpype\_core.py:217: UserWarning:
-------------------------------------------------------------------------------
Deprecated: convertStrings was not specified when starting the JVM. The default
behavior in JPype will be False starting in JPype 0.8. The recommended setting
for new code is convertStrings=False.  The legacy value of True was assumed for
this session. If you are a user of an application that reported this warning,
please file a ticket with the developer.
-------------------------------------------------------------------------------

  """)

In [2]:
m = MeCab.Tagger('-d C:/mecab/mecab-ko-dic')
out = m.parse("휴휴암")

RuntimeError:

In [48]:
print(out)

휴휴	NNP,인명,F,휴휴,*,*,*,*
암	NNG,정적사태,T,암,*,*,*,*
EOS

### 사용자지정..?

In [45]:
nnp = pd.read_csv('C:/mecab/user-dic/nnp.csv',header=None)

In [46]:
nnp.loc[2] = "휴휴암,,,,NNP,지명,F,휴휴암,*,*,*,*,*".split(",")

In [47]:
nnp

    0    1    2    3    4   5  6    7  8  9  10 11 12
0   대우  NaN  NaN  NaN  NNP   *  F   대우  *  *  *  *  *
1   구글  NaN  NaN  NaN  NNP   *  T   구글  *  *  *  *  *
2  휴휴암                 NNP  지명  F  휴휴암  *  *  *  *  *

In [37]:
nnp.to_csv('C:/mecab/user-dic/user_nnp.csv', header = False, index= False)

In [38]:
nnp = pd.read_csv('C:/mecab/user-dic/user_nnp.csv',header=None)

In [39]:
nnp

    0   1   2   3    4   5  6    7  8  9  10 11 12
0   대우 NaN NaN NaN  NNP   *  F   대우  *  *  *  *  *
1   구글 NaN NaN NaN  NNP   *  T   구글  *  *  *  *  *
2  휴휴암 NaN NaN NaN  NNP  지명  F  휴휴암  *  *  *  *  *

In [28]:
nnp_won = pd.read_csv('C:/mecab/mecab-ko-dic/NNP.csv',header=None)

In [29]:
nnp_won

,0,1,2,3,4,5,6,7,8,9,10,11
0,가곡선,1786.0,3546.0,2953.0,NNP,*,T,가곡선,Compound,*,*,가곡/NNG/*+선/NNG/*
1,가곡원류,1786.0,3545.0,2953.0,NNP,*,F,가곡원류,Compound,*,*,가곡/NNG/*+원류/NNG/*
2,가나안족,1786.0,3546.0,2953.0,NNP,*,T,가나안족,Compound,*,*,가나안/NNP/*+족/NNG/*
3,가락국기,1786.0,3545.0,2953.0,NNP,*,F,가락국기,Compound,*,*,가락/NNG/*+국/NNG/*+기/NNG/*
4,가락삼왕사적,1786.0,3546.0,2953.0,NNP,*,T,가락삼왕사적,Compound,*,*,가락삼왕/NNG/*+사적/NNG/*
...,...,...,...,...,...,...,...,...,...,...,...,...
2367,흥왕조승,1786.0,3546.0,2953.0,NNP,*,T,흥왕조승,Compound,*,*,흥왕/NNP/지명+조승/NNG/*
2368,희랍인,1786.0,3546.0,2953.0,NNP,*,T,희랍인,Compound,*,*,희랍/NNP/지명+인/NNG/*
2369,힌두스탄어,1786.0,3545.0,2953.0,NNP,*,F,힌두스탄어,Compound,*,*,힌두스탄/NNP/지명+어/NNG/*
2370,힌두족,1786.0,3546.0,2953.0,NNP,*,T,힌두족,Compound,*,*,힌두/NNP/*+족/NNG/*
2371,휴휴암,NaN,NaN,NaN,NNP,지명,F,휴휴암,*,*,*,*

In [19]:
nnp_won.loc[2371] = "휴휴암,,,,NNP,지명,F,휴휴암,*,*,*,*".split(",")

In [20]:
nnp_won.to_csv('C:/mecab/mecab-ko-dic/NNP.csv',header = False, index= False)

### 인명

In [31]:
person_won = pd.read_csv('C:/mecab/mecab-ko-dic/Person.csv',header=None)

In [34]:
person_won[person_won[0] == '휴휴'].index

Int64Index([195856], dtype='int64')

In [38]:
person_won = person_won.drop(195856)

In [39]:
nnp_won.to_csv('C:/mecab/mecab-ko-dic/Person.csv',header = False, index= False)